.container {
    display: flex;
    height: 100vh;
}

.container .banner {
    width: 550px;
    background-color: aqua;
}

.container .content {
    flex: 1;
    padding-bottom: 40px;
    background-color: bisque;
}

.logo {
    position: fixed;
    top: 24px;
    left: 22px;
    display: inline-flex;
    align-items: center;
    z-index: 1;
}