.vditor {
    border-radius: 0;
    border-top: 0px;
}

.vditor-reset {
    padding: 0px !important;
}

.vditor-toolbar {
    position: relative !important;
    display: flex !important;
    align-items: center;
    /* 垂直方向居中对齐 */
    padding: 3px !important;
}

.toolbar-right {
    position: absolute !important;
}

.toolbar-right:nth-last-child(1) {
    right: calc(0px + 3px) !important;
}

.toolbar-right:nth-last-child(2) {
    right: calc(25px + 3px) !important; // 根据实际宽度调整
}

.toolbar-right:nth-last-child(3) {
    right: calc(50px + 3px) !important; // 根据实际宽度调整
}

.toolbar-right:nth-last-child(4) {
    right: calc(75px + 3px) !important; // 根据实际宽度调整
}

// .toolbar-item-left {}